:root {
  --color-bg: #2ea666;
  --color-text: white;
  --color-accent: #31c677;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
  background: linear-gradient(
    90deg,
    rgba(223, 240, 72, 1) 0%,
    rgba(46, 166, 102, 1) 40%
  );
}
