:root {
  --color-bg: #2ea666;
  --color-text: white;
  --color-text-black: black;
  --color-text-category: red;
  --color-hover: yellow;
  --color-accent: #31c677;
  --color-flybuys: coral;
  --color-everydayrewards: green;
  --color-header-bg: #098209;
  --color-membership-bg: rgb(238, 238, 238);
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#root {
  width: 100%;
  height: 90%;
  max-width: 500px;
  margin: 0 auto;
  overflow-y: scroll;

  color: var(--color-text);
  background: var(--color-bg);
  background: linear-gradient(
    90deg,
    rgba(223, 240, 72, 1) 0%,
    rgba(46, 166, 102, 1) 40%
  );
}
