.container {
  background-color: var(--color-accent);
  padding: 1rem;
  border-radius: 15px;
}

.inputValue,
.groceryCategory {
  padding: 0.8rem 0.5rem;
  border: none;
  outline: none;
}

.button {
  background-color: var(--color-text);
  color: var(--color-accent);
  border-radius: 5px;
  border: none;
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  border: 1px solid var(--color-hover);
}
