.container {
  background-color: var(--color-accent);
  padding: 1rem;
  border-radius: 15px;
}

input,
select {
  padding: 0.3rem 0.2rem;
  border: none;
}

button {
  background-color: var(--color-text);
  color: var(--color-accent);
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
