.container {
  background-color: var(--color-accent);
  padding: 1rem;
  border-radius: 15px;
}

input,
select {
  padding: 0.5rem 0.5rem;
  border: none;
}

button {
  background-color: var(--color-text);
  color: var(--color-accent);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 0.3rem;
}

button:hover {
  background-color: var(--color-accent);
  color: var(--color-text);
  scale: 1.2;
}
