.container {
  background-color: var(--color-accent);
  padding: 1rem;
  border-radius: 15px;
}

input,
select {
  padding: 0.3rem 0.2rem;
  border: none;
}

button {
  padding: 1rem;
  font-size: 24px;
}
