.container {
  /* background-color: var(--color-accent);
   */
  background-color: yellow;
  padding: 1rem;
  border-radius: 15px;
}

input,
select {
  padding: 0.5rem 0.5rem;
  border: none;
}

button {
  background-color: var(--color-text);
  color: var(--color-accent);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-text);
  color: var(--color-accent);
  scale: 1.1;
}
