header {
  margin: 0;
  padding: 0;
  background-color: var(--color-header-bg);
  background: linear-gradient(
    90deg,
    rgba(223, 240, 72, 1) 0%,
    rgba(46, 166, 102, 1) 40%
  );
}

section {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
