.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
}

.navSection {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.logo {
  margin-left: 0.3rem;
}

.logoText {
  font-size: 2rem;
}

.button {
  background-color: var(--color-accent);
  color: var(--color-text);
  border-radius: 100%;
  padding: 0.5rem;
  margin: 0 0.2rem;
}

.button:hover {
  background-color: var(--color-text);
  color: var(--color-accent);
}

.button:active {
  background-color: var(--color-text);
  color: var(--color-accent);
}

.sharedText {
  position: absolute;
  top: 60px; /* adjust depending on your nav height */
  right: 20px;
  font-size: 14px;
  color: green;
  background-color: #e6ffe6;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
