.container {
  justify-content: space-between;
  /* margin: 0.3rem 1rem; */
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
}

.logo {
  margin-right: 0.3rem;
}

p {
  font-size: 2rem;
}

.button {
  background-color: var(--color-accent);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0.2rem;
  color: var(--color-button-text);
}
