.nav {
  display: flex;
}

.container {
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: var(--color-text);
}
