.container {
  justify-content: space-between;
  align-items: end;
  margin: 0.5rem 1rem;
  color: white;
  font-weight: bold;
}

.logo {
  margin-right: 0.3rem;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--color-button-text);
}
