.container {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0.5rem;
  padding: 0.2rem;

  background-color: transparent;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.button {
  padding: 1rem;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-text);
}

.button:active {
  background-color: var(--color-accent);
  color: var(--color-text);
}
