.empty {
  text-align: center;
}

.emptyText {
  font-size: 2rem;
}

.saving {
  display: inline-block;
  transition: transform 0.3s ease;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.saving .icon {
  animation: rotate 1.5s ease-in-out infinite;
}

.ul {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem;
  background-color: var(--color-text);
  border-radius: 15px;
  margin: 0.5rem;
}

.itemTop {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  transform: scale(1.5);
  transform-origin: center;
  cursor: pointer;
}

.text {
  color: var(--color-text-black);
  font-size: 1.2rem;
}

.text::first-letter {
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding: 0;
}

.category {
  font-size: 0.85rem;
  margin-left: 1.5rem;
  color: var(--color-text-category);
}
