.container {
  background-color: red;
  border-radius: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--color-text);
  color: var(--color-accent);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
