.container {
  display: flex;

  background-color: red;
  border-radius: 5px;
  padding: 1rem;
  border-radius: 15px;
  margin: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 0.5rem;
}

span {
  display: block;
}
