.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: 15px;
  background-color: var(--color-membership-bg);
}

.membershipIcon {
  margin-right: 0.3rem;
}
