.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  border-radius: 15px;
  padding: 1rem 0.5rem;

  background-color: var(--color-membership-bg);
}

.flybuys,
.everydayrewards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
