.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-radius: 15px;

  align-items: center;

  gap: 2rem;
  /* margin: 0; */

  background-color: var(--color-membership-bg);
}
