.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  width: 90%;
  padding: 1rem 0;
}

button:hover {
}

.flybuys {
  background-color: red;
  color: red;
}

.everydayrewards {
  background: green;
  color: coral;
}
