.container {
  display: flex;
  justify-content: flex-end;
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 0;
  border-radius: 15px;
  padding: 1rem 0.5rem; */

  background-color: var(--color-membership-bg);
}
