.container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  width: 90%;
  padding: 1rem 0;
}

.dealButton:hover {
  background-color: var(--color-text);
  color: var(--color-accent);
}
