.flybuys,
.everydayrewards {
  padding: 0.7rem 0;
  border-radius: 15px;
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  height: auto;
  min-width: 10rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flybuys {
  background-color: var(--color-flybuys);
}

.everydayrewards {
  background-color: var(--color-everydayrewards);
}

.flybuys:hover,
.everydayrewards:hover {
  background-color: var(--color-text);
  color: var(--color-accent);
  border: 1px solid var(--color-hover);
}

.flybuys:active,
.everydayrewards:active {
  background-color: var(--color-text);
  color: var(--color-accent);
  border: 1px solid var(--color-hover);
}
