.flybuys {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  padding: 1rem 0;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  color: var(--color-text);
  border-radius: 15px;
}

.flybuys {
  background-color: var(--color-flybuys);
}

.everydayrewards {
  background-color: var(--color-everydayrewards);
}

.flybuys:hover .everydayrewards:hover {
  background-color: var(--color-text);
  color: var(--color-accent);
}

.flybuys:active .everydayrewards:active {
  background-color: var(--color-text);
  color: var(--color-accent);
}
