.flybuys {
  background-color: var(--color-flybuys);
}

.everydayrewards {
  background-color: var(--color-everydayrewards);
}

.flybuys:hover .everydayrewards:hover {
  background-color: var(--color-text);
  color: var(--color-accent);
}

.flybuys:active .everydayrewards:active {
  background-color: var(--color-text);
  color: var(--color-accent);
}
