.nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

section {
  display: flex;
  align-items: center;
  padding: 10px;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}
