header {
  background-color: yellow;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.container {
  justify-content: space-between;
}

section {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: var(--color-text);
}

.dealButton {
  background-color: var(--color-text);
  border: none;
}
