.nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 5rem;
}

.container {
  justify-content: space-between;
}

section {
  display: flex;
  align-items: center;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}
