section {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.dealSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.dealButton {
  background-color: var(--color-bg);
  color: var(--color-button-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
