.nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.container {
  justify-content: space-between;
}
section {
  display: flex;
  align-items: center;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}
