header {
  background-color: yellow;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.container {
  justify-content: space-between;
}

section {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: var(--color-text);
}

.dealSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
  margin: 2rem 0;
}

.dealButton {
  background-color: var(--color-bg);
  color: var(--color-button-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
